table#lihtne, td{
    /*html failis id=Lihtne*/
    width:30%;
    border: 1px solid black;
    text-align: center;/*teksti joondamine keskele*/
    padding: 10px; /*vahe tekstist ääriseni*/
    /*border-collapse: collapse;*/
}
table#keeruline1, table#keeruline1 td{
    /*html failis id=keerulina1*/
    width:45%;
    border: 1px solid black;
    text-align: center;/*teksti joondamine keskele*/
    padding: 2px; /*vahe tekstist ääriseni*/
    /*border-collapse: collapse;*/
    background-color: lavender;
}
table#keeruline2, table#keeruline2 td{
    /*html failis id=keerulina1*/
    width:20%;
    border: 1px solid black;
    text-align: center;/*teksti joondamine keskele*/
    padding: 2px; /*vahe tekstist ääriseni*/
    /*border-collapse: collapse;*/
    background-color: pink;
}
